.account-container{
    position: absolute;
    right: 0%;
    text-align: center;
    background: rgb(36, 35, 35);
    color: white;
    border: 1px solid white;
    height: 100%;
}
.account-container a{
    margin: 1rem;
}