<div class="cart-container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Roast</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.roastType}}</td>
                <td>{{product.price}}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="buy()" class="btn mybtn">{{btnStatus}}</button>
</div>